.whatsapp-float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.whatsapp-float:hover {
    transform: scale(1.1);
    background-color: #20b857;
    box-shadow: 3px 3px 5px #777;
}

.whatsapp-icon {
    width: 35px;
    height: 35px;
}
html, body {
  height: 100%;
  margin: 0;
}

app-root {
  display: block;
  height: 100%;
}

.app-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page-content {
  flex: 1;              /* 👈 pushes footer down */
  padding-bottom: 40px; /* optional spacing */
}
